body{
    background-color: rgba(230, 16, 16, 0.726)
}
#check{
    background-color: lightsteelblue
}
#output{
    background: white;
    border-radius: 10px;
    border-top: 10px solid #aa4465;
    padding: 10px;
    margin: 50px;
    float: none;
    text-align: left
}
#player1_name, #player2_name {
    margin-left: 20px;
}